/* COLORS:  #64c3a3 , #d6c279 */



*{
  font-family: 'Rowdies', cursive;
}




footer{
  background-color: #131212;
  color: #fff;
}







/* 11111111111111111111111111111 FOR CELLPHONES 1111111111111111111111111111*/
@media screen and (min-width: 320px) {


  body {
    background-color: rgb(255, 0, 0);
  }


  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* The container that holds all the nav content */
    .nav_container{
      background-color: #131212;
    }



      /* ............ H1 TYPEWRITER  ............*/
    /* This is the typing text saying "Welcome to City Morgue Cycles */
    .typewriter h1 {
      color: white;
      text-transform: capitalize;
      font-size: 1.3em;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .3em solid #0000; /* The typewriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      padding-top: 25px;
      letter-spacing: .10em; /* Adjust as needed */
      animation: 
        typing 3.2s steps(80, end),
        blink-caret .75s step-end infinite;
    }
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: #0000; }
    }
      /* ............ H1 TYPEWRITER  ............*/




    /* This is the h1 text saying "Welcome to City Morgue Cycles"*/
    .welcome_text{
      color: white;
      text-transform: capitalize;
      font-size: 1.7em;
    
      padding-top: 30px;
    
      animation: 1s ease-out 0s 1 slideInFromRight;
    }
    /* animation: 1s ease-out 0s 1 slideInFromRight;  */
    @keyframes slideInFromRight {
      0% {
        transform: translateX(180%);
      }
      100% {
        transform: translateX(0);
      }
    }




    /* This is the logo that is in the navbar */
    .city_morgue_logo_navbar{
      max-width: 20rem;
      height: auto;
      
      padding-top: 1em;

      /* Calls the slideInFromLeft animation for the logo*/
      animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    /* animation: 1s ease-out 0s 1 slideInFromLeft;  */
    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-180%);
      }
      100% {
        transform: translateX(0);
      }
    }

      /*animation: bounce 2s; */
    @keyframes bounce {
      0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }

      40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
      }

      80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }
    }



    /* This is the logo that is in the navbar BUT THE LINK*/
    .city_morgue_logo_navbar_link:hover{
    }







  /* THESE ARE FOR THE PHONE BUTTON TOGGLER*/
    .navbar-toggler{
      background-color: aqua;
    }
    .navbar_phone_toggler_icon{
      background-color: antiquewhite;
      color: brown;
    }


    /* This is the color of the links in the navbar */
    .nav-link{
      color: white;
      font-size: 1.5em;
    }

    .nav-link:hover, .nav-link:focus{
      color: rgb(255, 0, 0);
      font-size: 2em;
    }

    /* This is the nav link that the user is currently on */
    .active_link{
      color: blue;
      text-decoration: underline;
    }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */





  /*``````````````````````````````` MAIN CONTENT ``````````````````````````````` */



  /* dDdDdDdDdDdDdDdDdDdD MAIN INFO dDdDdDdDdDdDdDdDdDdD*/

    /* This is the main container that holds all the content below*/
    .main_information_container{

      /* Padding from the logo */
      padding-top: 4.5rem; 

      background-color: #131212;

      /* Padding under the last item in this div */
      padding-bottom: 2rem; 

      
    }

    /* The lines above and below all of the content*/
    hr{
      border: 3.5px solid #dcc590;

      width: 90%;

      margin-left: auto;
      margin-right: auto;
    }

    /* This is the div that holds the text*/
    .informational_div_holder{
      /* margin-top: 7rem; */

      /* Space between each item */
      margin-bottom: 5rem;
      background-color: #131212;
      color: #fff;


      /* width: 50%; */
    }

    /* The header of the information Ex: What We Do | About Us */
    .informational_header{
      text-transform: uppercase;

      font-size: 1.7rem;

      /* Adds space between the hr  */
      margin-top: 1.5rem;

      /* Adds space under the header before the actual text */
      margin-bottom: 1.5rem;


    }

    /* The actual Text under the header */
    .informational_text{
      font-size: 1em;

      /* Adds the same amount of space under text above the hr MAKE THE SAME AS .informational_header*/
      margin-bottom: 1.5rem;
    }


    /*ccccc CONTACT US ccccc */
    /* This is under CONTACT US it is the direct call and email to Chris*/
    .tel_and_mailto{
      color: #fff;
      text-decoration: none;

      /* This is needed for the grow effect on the hover*/
      transition: all .2s ease-in-out;
    }
    .tel_and_mailto:hover, .tel_and_mailto:focus{
      color: #fff;
      font-size: 1.2em;

      transform: scale(1.5);
    }


    /* This is the facebook and instagram logos link*/
    .social_media_icons_links{
      color: #fff;
      text-decoration: none;
    }

    /* This is the facebook and instagram logos*/
    .social_media_icons{
      font-size: 2.2em;
      padding-right: 1.5em;
      padding-left: 1.5em;

      /* This is needed for the grow effect on the hover*/
      transition: all .2s ease-in-out;
    }

    .social_media_icons:hover, .social_media_icons:focus{
      font-size: 2.2em;

      color: #fff;

      transform: scale(1.5);
    }


    /*ccccc CONTACT US ccccc */

    @keyframes reveal {
      from { opacity: 0; clip-path: inset(0% 50% 0% 50%); }
      to { opacity: 1; clip-path: inset(0% 0% 0% 0%); }
    }
    .reveal-item {
      animation: auto linear reveal both;
      animation-timeline: view();
      animation-range: entry 100% cover 50%;
    }

  /* This will make the object its given to (list-view), to disappear upwards when screen scrolls down */
  /*
  @keyframes animate-in {
    0% { opacity: 0; transform: translateY(100%); }
    100% { opacity: 1; transform: translateY(0); }
  }
  @keyframes animate-out {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-100%); }
  }
  
  .list-view{
    animation: animate-in linear forwards,
               animate-out linear forwards;
    animation-timeline: view();
    animation-range: entry, exit;
  }
  */



  /* dDdDdDdDdDdDdDdDdDdD DESCRIPTIONS dDdDdDdDdDdDdDdDdDdD*/












  



  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ IMAGE CAROUSEL @@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  #imageSlider {
    height: 100vh; /* Set the height to 100% of the viewport height */
    background-color: #131212;
  }

  #imageSlider {
    height: 45vh; /* Set the height to 100% of the viewport height */
  }

  .carousel-inner {
    height: 100%; /* Set the height of the carousel content to 100% */
  }

  .carousel-inner img {
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    height: 100%; /* Set the height of the images to 100% */
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ IMAGE CAROUSEL @@@@@@@@@@@@@@@@@@@@@@@@@@@ */







  /* !!!!!!!!!!!!!!!!! SUPPLIER LOGOS !!!!!!!!!!!!!!!!!!!! */
  .supplier_logos{

  } 
/**/
  .supplier_logos img{
    max-width: 100%;
    height: auto;
    border: 1px solid black;
  }


  @keyframes reveal {
    from { opacity: 0; clip-path: inset(0% 50% 0% 50%); }
    to { opacity: 1; clip-path: inset(0% 0% 0% 0%); }
  }
  
  .revealing-image {
    animation: auto linear reveal both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
  }
  /* !!!!!!!!!!!!!!!!! SUPPLIER LOGOS !!!!!!!!!!!!!!!!!!!! */


  /*``````````````````````````````` MAIN CONTENT /*``````````````````````````````` */






}/* 11111111111111111111111111111 FOR CELLPHONES 1111111111111111111111111111*/















/* FOR TABLETS / LARGE PHONES */
@media screen and (min-width: 576px) {
  body {
    background-color: lightgreen;
  }


    /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ IMAGE CAROUSEL @@@@@@@@@@@@@@@@@@@@@@@@@@@ */

      /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ IMAGE CAROUSEL @@@@@@@@@@@@@@@@@@@@@@@@@@@ */

}





/*  */
@media screen and (min-width: 768px) {
  body {
    background-color: rgb(0, 131, 0);
  }
}

/* LARGE TABLETS */
@media screen and (min-width: 992px) {
  body {
    background-color: rgb(0, 162, 255);
  }
  .supplier_logos img{
    max-width: 150%;
    height: auto;
  }

}


/* FOR DESKTOPS */
@media screen and (min-width: 1200px) {
  body {
    background-color: rgb(166, 255, 0);
  }
}

/* FOR HUGE MONITORS / TV's */
@media screen and (min-width: 1400px) {
  body {
    background-color: rgb(255, 0, 119);
  }


  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ IMAGE CAROUSEL @@@@@@@@@@@@@@@@@@@@@@@@@@@ */




  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ IMAGE CAROUSEL @@@@@@@@@@@@@@@@@@@@@@@@@@@ */


}


















